<!-- views/partials/header.ejs -->
<header>
  <h1>Mi Sitio de Superhéroes</h1>
  <nav>
    <a href="/">Inicio</a>
    <a href="/products">Productos</a>
    <a href="/blogs">Blogs</a>
    <a href="/usuarios">Usuarios</a>
    <a href="/heroes">Superhéroes</a>
  </nav>
</header>
<hr>
