<!-- views/userProfile.ejs -->
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Perfil de Usuario</title>
</head>
<body>
  
  <main>
    <h1>Perfil de Usuario</h1>
    <p><strong>Nombre:</strong> <%= user.name %></p>
    <p><strong>Edad:</strong> <%= user.age %></p>
  </main>
</body>
</html>
